@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --sizeMain: 14px;
  --text-main: #000000;
  --bg: #ffffff;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--text-main);
  font-weight: 400;
  font-size: var(--sizeMain);
  line-height: 20px;
  background-color: #14b1d8;
}

/*  */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  */
._container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.main {
  padding: 25px 15px;
  border-radius: 15px;
  background-color: #f0eded;
  min-width: 600px;
}
.main__title {
  font-size: 30px;
  margin: 0px 0px 15px 0px;
  font-weight: 700;
}
.main__link {
  color: #14b1d8;
  display: block;
  margin: 0px 0px 10px 0px;
}
.main__form {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 30px 0px;
}
.main__label-email, .main__label-token {
  margin: 0px 0px 10px 0px;
  font-size: 16px;
}
.main__email {
  margin: 0px 0px 20px 0px;
}
.main__email, .main__token {
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px;
}
.main__token {
  margin: 0px 0px 30px 0px;
}
.main__safe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 10px 10px;
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: #202b2c;
  color: #f0eded;
  box-shadow: 1px 3px 0 0 #7e7676;
  transition: transform 0.5s, box-shadow 1s;
}
.main__safe:hover {
  background-color: #182021;
  box-shadow: 1px 2px 0 0 #7e7676;
  transform: translateY(1px);
}
.main__safe:active {
  box-shadow: 1px 0px 0 0 #7e7676;
  transform: translateY(2px);
}
.main__video-title {
  font-size: 20px;
  margin: 0px 0px 15px 0px;
}
.main__video {
  border-radius: 3px;
}